.main {
  position: absolute;
}
.main .sub {
  position: relative;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background-color: #1f1a18;
}
.header .header__section_top {
  width: 100%;
}
.header .header__section_bottom {
  background-color: #ffffff;
  border: #959494 1px solid;
}

.header__flex-container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__flex-container_top .logo-container__header {
  position: absolute;
}

.header__slogan-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #ffffff;
  margin-left: 125px;
}
.header__slogan-text .slogan-text__link {
  color: #ff3a2d;
  text-decoration: none;
}
.header__slogan-text .slogan-text__link:hover {
  color: #c63c33;
}
.header__slogan-text .slogan-text__link:active {
  color: #793935;
}

.header__search__input {
  width: 200px;
  height: 28px;
  background-color: #bfbdbb;
  color: #848383;
  border-radius: 6px 0 0 6px;
  border: none;
}

.header__search__button {
  width: 30px;
  height: 28px;
  background-image: url("image/button.png");
  margin-left: -5px;
  border-radius: 0 6px 6px 0;
  border: none;
  color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.header__search__button:hover {
  border: #ffffff 1px solid;
}
.header__search__button:active {
  border: #bfbdbb 1px solid;
}

.header__login-input {
  background: #1f1a18;
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
  position: relative;
  margin: 20px 0 20px 0;
}
.header__login-input:hover {
  color: #e6e2e1;
}
.header__login-input:active {
  color: #848383;
}

.header__login-input::before {
  content: url("image/login.png");
  width: 20px;
  height: 20px;
  background-image: url("image/login.png");
  display: block;
  background-color: white;
  position: absolute;
}

.header__contact-dilivary_link {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
}
.header__contact-dilivary_link:hover {
  color: #e6e2e1;
}
.header__contact-dilivary_link:active {
  color: #848383;
}

.header__section_bottom {
  background-color: #ffffff;
}
.header__section_bottom .header__container_bottom {
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav .nav_item {
  text-decoration: none;
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 33px;
}
.header__nav .nav_item-basket {
  margin: 16px 33px 16px 0;
  text-decoration: none;
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  position: relative;
}
.header__nav .nav_item-basket::after {
  content: url("image/basket.png");
  background-image: url("image/basket.png");
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 33px;
  top: -15px;
  display: block;
}
.header__nav .nav_item-reservation {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #ff3a2d;
  text-decoration: none;
  padding: 9px 18px 9px 18px;
  border-radius: 0 6px 0 6px;
  margin: 0 0 0 78px;
}

/*# sourceMappingURL=styles.css.map */
