.main{
  position: absolute;
  .sub {
    position: relative;
  }
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{
 max-width: 1180px;
  margin: 0 auto;
}
$ct: #ff3a2d;
@import "Header.scss";
@import "header__cection_top.scss";
@import "header__section_bottom";
























