body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: blue 2px solid;
}
.header{
    outline: #00c5d2 3px solid;
    margin-bottom: 0;
}
.btn{
    color: #ffffff;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}

.top-header_container{
    background-color: #1e1910;
    color: #ffffff;
}

.logo{
    position: absolute ;
    z-index:1;
    margin-left: -45%;
}

.top-header-flex_container{
    display: flex;
    justify-content:space-around;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

.welcome{
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 8%;
}

.welcome-red-color{
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ff3a2d;
}

.quick-search_form{
    position: relative;
    max-width: 200px;
    margin-left: 6%;
}

.quick-search_text-form{
    width: 100%;
    height: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px ;
    background-color: #bebcba;
    color: #838383;
    border: none;
}
.quick-search_button{
    position: absolute;
    top: 15px;
    right: 0;
    width:30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border: none;
    background-image: url("image/button.png");
}

.login{
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #1e1910;
    border: none;
    position: relative;
    margin-left: 9%;
    padding-left: 18px;
}

.login::before{
    content:"";
    background-image: url("image/login.png");
    width: 15px;
    height: 15px;
    right: 45px;
    position: absolute;
}

.login:hover{
    background-color: #838383;
    cursor: pointer;
}
.delivary{
    color: #ffffff;
    margin-top: 22px;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.bottom-header-container{
    max-width: 1180px;
    margin: 0 auto;
    outline: 1px solid;
}

.navigation-list-flex_container{
    display: flex;
    justify-content: space-around;
    max-width: 720px;
    margin-left: auto;
    outline: #00c5d2 1px solid;
}

.navigation_item{
    list-style: none;
    margin-top: 20px;
}
.navigation_link{
    color: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 0;
}

.navigation_link:hover{

}
.basket{
    position: relative;
    outline: green 1px solid;
}

.basket::after{
    content:"";
    display: block;
    position: absolute;
    width: 30px;
    height: 26px;
    margin-top: 0px;
    background-image: url("image/basket.png");
    background-repeat: no-repeat;
}

.btn-reservation_header{

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    background-color: #ff3a2d;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 0 5px 0 5px;
    margin-left: 30px;
    margin-bottom: 0;
}

.main-features_section{
    background-image: url("image/background_section1.png");
    background-size: cover ;
    background-position: 30% 0;
    outline: #ff3a2d 1px solid;
    margin-top: 0;
}
main{
    outline: yellow 2px solid;
    margin-top: 0;

}
.main-features_container{
    width: 68%;
    margin: 0 auto;
    outline: #ff3a2d 1px solid;
}

.main-features_text{
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 15px;
    color: #00c5d2;
    padding-top: 215px;
    text-align: center;
}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
}

.history-text{
    color: #ffffff;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.main-features-link_container{
    width: 45%;
    margin: 0 auto;
    outline: #ff3a2d 1px solid;
    display: flex;
    justify-content: space-around;
    padding-bottom: 250px;
}

.about-us-link,
.menu-link{
    font-family: "Poppins - Semi Bold",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 20px 35px;
    text-decoration: none;

    white-space: nowrap;
    display: inline-block;
}

.about-us-link {
    border: 2px solid #ff3a2d;
    padding: 18px 33px;
}

.menu-link {
    background-color: #ff3a2d;
    margin-left: 45px;
    text-wrap: none;

}





