.main{
  position: absolute;
  .sub {
    position: relative;
  }
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
}

$bk:#1f1a13;
$wt:#ffffff;
$ct:#ff3a2d;

.page-header{
  background-color: $bk;
}

.top-header_flex-container{
  display: flex;

  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo_container{
    position: absolute;
    margin-top: 28px;
    }

  .slogan_text{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: $wt;
    margin-left: 130px;

    .slogan-red-text{
      color: $ct;
    }
  }

  .search_button{
    margin-top: 26px;
    margin-bottom: 26px;
    .header-search_input{
      max-width: 200px;
      color: #808080;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 15px;
      height: 28px;
      border-radius: 5px 0 0 5px;
      border: none;
      background-color: #bdbbb9;
    }

    .header-search_button{
      width: 30px;
      height: 28px;
      border: none;
      border-radius: 0 5px 5px 0;
      background-image: url("image/button.png");
      color: rgba(255, 255, 255, 0.1);
      margin-left: -5px;
      cursor: pointer;
      &:hover{
        border: #bdbbb9 1px solid;
      }
      &:active{
        border: #bdbbb9 2px solid;
      }
    }
  }

  .header-login_input{
    background-color: $bk;
    color: $wt;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: none;
    position: relative;

    &:hover{
      color: #bdbbb9;
    }

    .header-login_input::before{
      content:url("image/login.png");
      background-image: url("image/login.png");
      width: 15px;
      height: 15px;
      right: 45px;
      position: absolute;
       background-color: red;
      color:red;
      z-index: 5;
    }

  }

  .header-contact-dilivary_link{
    color: $wt;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: #bdbbb9;
    }
  }
}

.page-bottom-header_section{
  background-color: $wt;

  .header-bottom-menu_flex-nav{
    display: flex;
    justify-content: flex-end;


    .header-bottom-menu_item{
      margin-left: 33px;
      margin-top: 19px;
      margin-bottom: 17px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 15px;
      text-transform:uppercase;
      text-decoration: none;

      &:last-child{
        background-color: $ct;
        color: $wt;
        border-radius: 0 5px 0 5px;
        padding: 7px 18px 7px 17px;
        margin-top: 10px;
      }
      &:nth-child(9)::before{
        content:url("image/basket.png");                 // неполучилось  баграундом
        ackground-image: url("image/basket.png");
        background-repeat: no-repeat;
         margin-top: 5px;
        width: 30px;
        height: 30px;
        background-color: red ;
      }
    }
  }
}

