.main{
  position: absolute;
  .sub {
    position: relative;
  }
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$bk:#1f1a18;
$wt:#ffffff;

.container{
 max-width: 1180px;
  margin: 0 auto;
}
$ct: #ff3a2d;
@import "header.css";
@import "header__section_top";










