$ct: #ff3a2d;
$bk:#1f1a18;
$wt:#ffffff;



.header{
  background-color:$bk ;
}

.container_header-top{
  background-color: $bk;
}

.container_header-bottom{
  background-color: $wt;
}

.wrapper_header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.link-logo{
   margin-bottom: -65px;
}

.link-logo:hover{
  opacity: 0.8;
}

.wrap-slogan__text{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: $wt;
}

.link{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.wrap-slogan__link{
  color: $ct;
}

.wrap-slogan__link:hover{
  color: #c63c33;
}

.wrap-slogan__link:active{
  color: #793935;
}

//search-form & button
.search-form__input{
  width: 200px;
  height: 28px;
  background-color: #bfbdbb;
  color: #848383;
  border-radius: 6px 0 0 6px;
  margin-top: 0;
  padding: 0;
  border: none;
}

.search-form__button{
  width: 20px;
  height: 20px;
  position: relative;
}

.search-form__img{
  width: 30px;
  height:28px;
  border-radius: 0 6px 6px 0;
  border: none;
  cursor: pointer;
  position: absolute; //?????? выскакивает из строки если нет позитион абсолуте
  top: -3px;
  left: -6px;
}

.search-form__img:hover{
    border: $wt 1px solid;
}

.search-form__img:active{
    border: #bfbdbb 1px solid;
}

.link-login{
  background: $bk;
  color: $wt;
  text-decoration: none;
  position: relative;
}

.link:hover{
    color: #858483;
}

.link-login__span{
  margin-right: 13px;
}

.contact-delivary{
  text-decoration: none;
  color:$wt;
}


.contact-delivary:active {
    color: #848383;
}

//header bottom

.wrapper__header-bottom{
  padding-top: 17px;
  padding-bottom: 17px;
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item{
  text-decoration: none;
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 33px;
}

.nav__basket {
  position: relative;
}

.nav__basket:hover {
  opacity: 0.7;
}
.nav__span{
  position: absolute;
  bottom: 13px;
  left: 18px;
}

.btn_red{
  color:$wt ;
  background-color: $ct;

}

.nav__button_red-theme:hover{
  opacity: 0.8;
  color: #e6e2e1;
  text-decoration: none;
}

.nav__button{
  border-radius: 0 6px 0 6px;
  padding: 9px 18px 9px 18px;
  margin-right: 0;
}



