.main{
  position: absolute;
  .sub {
    position: relative;
  }
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
 max-width: 1180px;
  margin: 0 auto;
}
$ct: #ff3a2d;
$bk:#1f1a18;
$wt:#ffffff;

@import "header.scss";
@import "section-promo.scss";
@import "section-welcome.scss";

.features-section{
  padding-top: 45px;
}

.features__head__wrap{
  width: 287px;
  margin: 0 auto;
  text-align: center;
}

.features__pre-head{
  color: #ff3a2d;
  font-family: 'Sacramento', cursive;;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
}

.features__head{
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  color: #222222;
  font-size: 36px;
  margin-bottom: 11px;
}

.features__slider__wrap{   //фотки уходят вправо ?
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.figure{
  margin-right: 30px;
}

.figcaption{
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

.discount-span{
  font-size: 16px;
  text-decoration: line-through
}





