.main {
  position: absolute;
}
.main .sub {
  position: relative;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.page {
  background-image: url("../image/background_section1.png");
  background-size: auto;
  background-color: #ffffff;
  background-position: -250px 0;
  background-repeat: no-repeat;
}

.header {
  background-color: #1f1a18;
}

.container_header-top {
  background-color: #1f1a18;
}

.container_header-bottom {
  background-color: #ffffff;
}

.wrapper_header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.link-logo {
  margin-bottom: -65px;
}

.link-logo:hover {
  opacity: 0.8;
}

.wrap-slogan__text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #ffffff;
}

.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.wrap-slogan__link {
  color: #ff3a2d;
}

.wrap-slogan__link:hover {
  color: #c63c33;
}

.wrap-slogan__link:active {
  color: #793935;
}

.search-form__input {
  width: 200px;
  height: 28px;
  background-color: #bfbdbb;
  color: #848383;
  border-radius: 6px 0 0 6px;
  margin-top: 0;
  padding: 0;
  border: none;
}

.search-form__button {
  width: 20px;
  height: 20px;
  position: relative;
}

.search-form__img {
  width: 30px;
  height: 28px;
  border-radius: 0 6px 6px 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -3px;
  left: -6px;
}

.search-form__img:hover {
  border: #ffffff 1px solid;
}

.search-form__img:active {
  border: #bfbdbb 1px solid;
}

.link-login {
  background: #1f1a18;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.link:hover {
  color: #858483;
}

.link-login__span {
  margin-right: 13px;
}

.contact-delivary {
  text-decoration: none;
  color: #ffffff;
}

.contact-delivary:active {
  color: #848383;
}

.wrapper__header-bottom {
  padding-top: 17px;
  padding-bottom: 17px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  text-decoration: none;
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 33px;
}

.nav__basket {
  position: relative;
}

.nav__basket:hover {
  opacity: 0.7;
}

.nav__span {
  position: absolute;
  bottom: 13px;
  left: 18px;
}

.btn_red {
  color: #ffffff;
  background-color: #ff3a2d;
}

.nav__button_red-theme:hover {
  opacity: 0.8;
  color: #e6e2e1;
  text-decoration: none;
}

.nav__button {
  border-radius: 0 6px 0 6px;
  padding: 9px 18px 9px 18px;
  margin-right: 0;
}

.section-promo {
  padding-bottom: 40px;
}

.wrapper-promo {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 215px;
}

.wrapper-promo__pre-title {
  color: #00c5d2;
  font-family: "Sacramento", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 39px;
}

.wrapper-promo__head {
  color: #ffffff;
  font-family: "Lobster Two", cursive;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 34px;
}

.wrapper-promo__text {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 80px;
}

.wrapper-btn {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 170px;
}

.wrapper-btn__link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 35px 20px 35px;
  border: #ff3a2d 2px solid;
  border-radius: 6px;
  text-decoration: none;
}

.wrapper-btn__link_red {
  margin-left: 45px;
  white-space: nowrap;
}

.wrap-slider {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 46px;
  align-items: flex-end;
}

.section-welcome {
  background-color: #ffffff;
  padding-top: 135px;
  background-image: url("../image/fon-leaves.png");
  background-repeat: no-repeat;
  background-position: 1000px 500px;
  padding-bottom: 140px;
}

.wrap-welcome_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.wrap-welcome {
  padding-top: 18px;
}

.head {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
}

.wrap-welcome__head {
  line-height: 38px;
  color: #ff3a2d;
  font-size: 48px;
  margin-bottom: 20px;
}

.wrap-welcome__span {
  color: #222222;
  font-size: 28px;
  white-space: nowrap;
}

.wrap-head {
  width: 192px;
  margin-bottom: 40px;
}

.wrap-welcome__container {
  max-width: 650px;
}

.text {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.wrap-welcome__text_top {
  margin-bottom: 40px;
}

.wrap-welcome__text_bottom {
  margin-bottom: 40px;
}

.wrap-welcome__container_signature {
  width: 196px;
}

.wrap-welcome__text_signature {
  color: #1c1c1c;
  font-family: "Sacramento", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 25px;
}

.wrap-welcome__span_signature {
  font-size: 16px;
}

.wrap-booking {
  padding-left: auto;
}

.form-booking {
  width: 370px;
  background: #ff3a2d;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 65px;
}

.form-booking__head {
  color: #ffffff;
  font-family: "Lobster Two", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 40px;
}

.forms {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  width: 100%;
  height: 38px;
  margin-bottom: 20px;
}

.form-booking_submit {
  color: #ffffff;
  background: #34c0e7;
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin-bottom: 75px;
}

.features-section {
  padding-top: 45px;
}

.features__head__wrap {
  width: 287px;
  margin: 0 auto;
  text-align: center;
}

.features__pre-head {
  color: #ff3a2d;
  font-family: "Sacramento", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
}

.features__head {
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  color: #222222;
  font-size: 36px;
  margin-bottom: 11px;
}

.features__slider__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.figure {
  margin-right: 30px;
}

.figcaption {
  font-family: "Lobster Two", cursive;
  text-align: center;
}

.discount-span {
  font-size: 16px;
  text-decoration: line-through;
}

/*# sourceMappingURL=styles.css.map */
